<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="UTF-8">
    <title>SF Movie Locations Search</title>
    <link rel="stylesheet" href="{{ config.ROOT }}/static/css/location-search.css">
  </head>
  <body>
    <div class="bodywrapper">
      <h1 class="page-title">SF Movie Locations Search</h1>
      <div id="location-map-app">
        <div class="filter-form">
          <div class="filter-form-inner">
            <input type="text"
              placeholder="title"
              class="filter-title"
              ref="title"
              v-model="title"
              v-on:keyup="onKeyUp"
              v-on:blur="toggleTitleFocus(false)"
              v-on:focus="toggleTitleFocus(true)"
            />
            <ul class="filter-title-suggetions"
              ref="suggestionsContainer"
              v-show="isTitleFocused"
            >
              <li is="title-suggestion"
                v-for="(suggestion, index) in suggestions"
                v-bind:suggestion="suggestion"
                v-bind:key="suggestion.id"
                v-bind:class="{ active: isCurrent(index) }"
                v-on:click.native="selectSuggestionAndUpdateList(suggestion)"
              >
            </ul>
          </div>
        </div>
        <div class="status-message-wrapper">
          <status-message v-bind:message="message" v-if="message" />
        </div>
        <div class="current-count-wrapper">
          <current-count v-bind:pager-data="pagerData" />
        </div>
        <div class="pager-wrapper">
          <paginate
            ref="pager"
            v-bind:page-count="pagerData.totalPages"
            v-bind:click-handler="changePage"
            v-bind:container-class="'pager'"
          >
          </paginate>
        </div>
        <div id="location-map"></div>
        <div class="result-table-wrapper">
          <table>
            <thead>
              <tr>
                <th class="location-table-row-title">Title</th>
                <th class="location-table-row-year">Year</th>
                <th class="location-table-row-locations">Locations</th>
              </tr>
            </thead>
            <tbody>
              <tr is="location-table-row"
                v-for="location in locations"
                v-bind:location="location"
                v-bind:key="location.id"
              />
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuejs-paginate"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash"></script>
    <script src="{{ config.ROOT }}/static/js/location-search.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_API_KEY }}&callback=initMap">
    </script>
  </body>
</html>
