.bodywrapper {
  width: 96%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
}

.page-title {
  text-align: center;
}

.filter-form {
  margin-bottom: 20px;
  text-align: center;
}

.current-count-wrapper {
  margin-bottom: 20px;
  text-align: center;
}

#location-map {
  width: auto;
  height: 400px;
  margin-bottom: 20px;
}

.map-info-window {
  padding: 10px 4px;
}

.map-info-window h1 {
  font-size: 1rem;
  margin-top: 0;
}

.result-table-wrapper {
  margin-bottom: 20px;
  max-height: 200px;
  overflow-y: scroll;
}

.result-table-wrapper table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
}

.result-table-wrapper tbody {}

.result-table-wrapper th {
  padding: 0.5em;
  background-color: #eee;
}

.result-table-wrapper td {
  padding: 0.5em;
  background-color: #f8f8f8;
}

.result-table-wrapper .location-table-row-title {
  width: 30%;
}

.result-table-wrapper .location-table-row-year {
  text-align: center;
  width: 20%;
}

.result-table-wrapper .location-table-row-locations {}
