.bodywrapper {
  width: 800px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.filter-form {
  margin-bottom: 20px;
}

.current-count-wrapper {
  margin-bottom: 20px;
}

#location-map {
  width: auto;
  height: 400px;
  margin-bottom: 20px;
}

.result-table-wrapper {
  margin-bottom: 20px;
  max-height: 200px;
  overflow-y: scroll;
}

.result-table-wrapper table {
  width: 100%;
  table-layout: fixed;
}

.result-table-wrapper tbody {}

.result-table-wrapper th {
  padding: 0.5em;
  margin: 1px;
  background-color: #eee;
}

.result-table-wrapper td {
  padding: 0.5em;
  margin: 1px;
  background-color: #f8f8f8;
}

.result-table-wrapper .location-table-row-title {}

.result-table-wrapper .location-table-row-year {
  text-align: center;
}

.result-table-wrapper .location-table-row-locations {}
